fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
pydantic-settings==2.1.0
supabase==2.3.4
sqlalchemy==2.0.23
pymysql==1.1.0
cryptography==42.0.8
python-multipart==0.0.6
httpx==0.25.2
beautifulsoup4==4.12.2
requests==2.31.0
python-dotenv==1.0.0
apscheduler==3.10.4
openai==1.3.7
youtube-transcript-api==1.1.0
pytubefix==9.2.0
Pillow==10.1.0
aiofiles==23.2.1

# 文件上传
python-docx==1.0.1  # 处理 Word 文档
PyPDF2==3.0.1      # 处理 PDF 文件

# url 转换
spotipy==2.24.0
youtube-search-python==1.6.6
google-api-python-client==2.154.0

# Apple Podcast 内容获取
assemblyai==0.20.1
urllib3==2.0.7

# AWS Bedrock
boto3==1.38.22