fastapi==0.104.1
uvicorn==0.24.0
httpx==0.23.1
python-dotenv==1.0.0
pydantic==2.5.1
pydantic-settings==2.1.0
supabase==1.0.3
youtube-transcript-api==0.6.1 
beautifulsoup4==4.12.2
requests==2.31.0
pytubefix==7.4.0

# 文件上传
python-multipart==0.0.6
python-docx==1.0.1  # 处理 Word 文档
PyPDF2==3.0.1      # 处理 PDF 文件

# url 转换
spotipy==2.24.0
youtube-search-python==1.6.6
google-api-python-client==2.154.0

# Apple Podcast 内容获取
assemblyai==0.20.1
urllib3==2.0.7

# 定时任务
APScheduler==3.10.4